
  .contact-card {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.119);
    max-width: 600px;
    margin: 10px 0;
  }
  
  .contact-card .icon {
    background-color: #d60000;
    color: white;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 20px;
  }
 
  .contact-card .text h4 {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin: 0;
    
  }
  
  .contact-card .text p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .contact-card .icon {
        height: 56px;
    }
  }
