.title {
    padding-bottom: 60px;
}
.menu_list ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu_list ul li {
    cursor: pointer;
    transition: all 0.2s ;
    color: var(--heading-color);
    position: relative;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 5px;
}
.menu_list li::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1.8px;
    background: #7f7f90ed;
    transition: width 0.3s ease; 


}

  
.menu_list li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 1.8px;
    background-color: var(--accent-color);
    transition: width 0.3s ease; 
}

.menu_list  li:hover:after {
    width: 100%;
}

@media (max-width: 600px) {
  .menu_list ul {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    justify-content: center;
  }
  .menu_list ul li {
    white-space: nowrap;
    font-size: 16px;
    padding: 8px 4px;
  }
}

  
