.Comments_Card {
    background-color: var(--background-color);
}
.Comments_Card .text1 {
    color: var(--default-color);
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.Comments_Card .icon {
    color: color-mix(in srgb, var(--accent-color), transparent 50%);
    font-size: 26px;
}

.Comments_Card .desc {
    padding: 60px 0 ;
    position: relative;
}
.Comments_Card .after {
    position: absolute;
    transform: rotate(90deg);
    top: 150px;
    left:-90px;
    width: 155px;
    height: 2px;
    background-color:  var(--accent-color);
}
.Comments_Card .desc h3 {
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 10px 0 5px 0;
    font-family: var( --heading-font);
}
.Comments_Card .desc h4 {
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin: 0 0 10px 0;
    font-family: var(--heading-font);
    font-weight: 500;
    line-height: 1.2;

}
.Comments_Card .desc .stars {
    color: #ffc107;
}
.Comments_Card .comments_img {
    border-radius: 50%;
    border: 4px solid var(--background-color);
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}
.Comments_Card .comments_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .Comments_Card .after{
        display: none;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .Comments_Card .after{
        display: none;
    }
}